/* You can add global styles to this file, and also import other style files */
a {
  color: #858586;
  text-decoration: none !important;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}
